@charset "UTF-8";

@font-face {
    font-family: 'Nosifer';
    src: url('fontes/Nosifer-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: linear-gradient(to right,black,#EE4123);
}

h1{
    font-family: 'Nosifer', Arial;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    color: red;
}
h2{
    color:#FFEA00;
}
div{
border-radius: 10%;
box-shadow: 3px 50px 300px #746a0044;
width: 400px;
padding: 10px;
margin:auto;
}