@charset "UTF-8";

@font-face {
    font-family: 'Nosifer';
    src: url('fontes/Nosifer-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}


:root{
    --cor0:#976927;
    --cor1:#F29727;
    --cor2:#EE4123;
    --cor3:#46341f;
    --cor4:#000000;
    
    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Nosifer', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, black,#EE4123,black);
    font-family: var(--fonte-padrao);
    color: #f5eb66;
}
header{
    background-image: linear-gradient(to right,#0000003f,rgb(144, 0, 0));
    min-height:130px;
    text-align:justify ;
    padding-top: 20px;
}
header > h1{
    color:rgb(234, 0, 0);
    font-family:var(--fonte-destaque) ;
    font-size: 2em;
    margin-bottom:20px ;
    text-shadow:2px 2px 2px black;
}
header > p{
    color: #f5eb66;
}
nav{
    background-color:var(--cor2) ;
}
main{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.961),#EE4123);
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px ;
    padding:20px; 
    background-color:whitesmoke ;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.355) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
}
main h1{
    font-family: var(--fonte-destaque);
    color:var(--cor2);
}
main h2{
    font-family:var(--fonte-padrao) ;
    color:var(--cor2)
}
img{
    width: 80%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}
footer{
    background-color: black;
    color: whitesmoke;
}